@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar{
    min-height: 100vh;
    position: fixed;
}
.app_container{
    display: flex;
}
main {
    margin-left: 180px; 
    /* used for the shifting main content 180 bcz navbar taking 180px from left */
  }
  html {
    scroll-behavior: smooth;
  }
  
.eduction{
    text-align: center;
    color:rgb(79, 209, 197);
    margin-bottom: 50px;

}
.education-item:hover {
background-color: rgb(79, 209, 197);
}
.skill-item{
    box-shadow: 1px 1px 10px white;
    transition: transform 0.3s ease; /* Smooth transition for the zoom effect */

}
.skill-item:hover{
    transform: scale(1.15); /* Scales the element to 105% of its original size */
}
.project-item{
    box-shadow: 1px 1px 10px white;
    transition: transform 0.3s ease;

}
.project-item:hover{
    transform: scale(1.05);
}
.projects-section{
    min-height: 100vh;

}
.contact_me{
    min-height: 100vh;

}

  